@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

.parallexTitle {
  position: relative;
  top: 30%;
  font-family: 'Anton', sans-serif;
}
.parallexSubTitle {
  font-family: 'Lobster', cursive;
  position: relative;
  top: 30%;
}
.parallexImageSection {
  width: 100%;
  height: 100%;
}
.parallexImageSection img {
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 767px) {
  .parallexTitle {
    top: 5%;
    text-align: center;
  }
  .parallexSubTitle {
    top: 5%;
    text-align: center;
  }
}
